<!DOCTYPE html>
<html>

<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello, welcome to the Homepage.</h1>
        <div>
            To have access to metrics you have the choice :
            <ul>
                <li>
                    1) Open http://localhost:8080:/hello/<your_name> and click on the button
                </li>
                <li>
                    2) Open http://localhost:8080:/metrics.json
                </li>
            </ul>

        </div>
        <div>
            Tap /metrics/
            in JSON format to access to command metrics, otherwise you will see a cannot GET / message
        </div>
    </div>

</body>

<link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
</link>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</link>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>