<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
	<div class="row">
    <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>Add or Update </strong> Metric<span></span></h4>
                <h5>It will update the metric, only if the metric already exists...</h5>
                <div class="form">
                <form action="/addMetric" method="post">
                    <input type="number" placeholder="Please input the key" value="" name="id" class="txt">
                    <input type="text" placeholder="Please input the timestamp" value="" name="timestamp" class="txt">
                    <input type="number" placeholder="Please input the value" value="" name="value" class="number">
                    <input type="submit" value="submit" name="submit" class="txt2">
                </form>
            </div>
            <button class="btn btn-danger" href="/index" onClick='document.location.href="/index"'>
                Go back
            </button>
            </div>
        </div>
	</div>
</div>
</body>
</html>