<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form_main">
                    <h4 class="heading"><strong>Delete </strong> Metric<span></span></h4>
                    <div class="form">
                        <form action="/deleteMetric" method="post">
                            <input type="number" placeholder="Please input the key" value="" name="id" class="number">
                            <input type="string" placeholder="Please input the timestamp" value="" name="timestamp" class="txt">
                            <input type="submit" value="submit" name="submit" class="txt2">
                        </form>
                    </div>
                    <button class="btn btn-danger" href="/index" onClick='document.location.href="/index"'>
                        Go back
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>