<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
    </link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </link>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Welcome back</h1>
        <form action="/displayMetrics" method="post">
            <div class="form-group">
                <label for="form_key">Key</label>
                <input id="form_key" type="text" placeholder="Enter the key for metrics" name="id" />
            </div>
                <button class="btn btn-success" type="submit" id="show-metrics">
                    Bring the metrics of this key !
                </button>
        </form>
        <form action="/getmetrics" method="post">
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Bring the metrics</button>
        </form>
        <button class="btn btn-danger" href="/signout" onClick='document.location.href="/signout"'>
            Sign out
        </button>
        <button class="btn btn-info" href="/index" onClick='document.location.href="/index"'>
            Go back
        </button>
    </div>
</body>
</html>