<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
  </link>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
  crossorigin="anonymous"></link>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Hello</h1>
    <button class="btn btn-success" href="/displayMetrics" onClick='document.location.href="/displayMetrics"'>
      Bring the dashboard to show metrics
    </button>
    <div id="metrics">
      <button class="btn btn-info" href="/addMetric" onClick='document.location.href="/addMetric"'>
        Add/Update a metric 
      </button>
      <button class="btn btn-info" href="/deleteMetric" onClick='document.location.href="/deleteMetric"'>
        Delete a metric 
      </button> 
    </div>
    <button class="btn btn-danger" href="/signout" onClick='document.location.href="/signout"'>
      Sign out
    </button>
  </div>
</body>
</html>