<!DOCTYPE html>
<html>
<body class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Hello <%= name %>!!</h1>
    <button class="btn btn-success" id="show-metrics">
      Bring the metrics
    </button>
    <div id="metrics"></div>
  </div>
</body>
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js">
</link>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous"></link>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
$('#show-metrics').click((e) => {
 e.preventDefault()
 $.getJSON("/metrics.json", {}, (data) => {
   const content = data.map(d => {
     return 'timestamp: '+d.timestamp+', value: '+d.value+'';
   })
   $('#metrics').append(content.join("\n"));
 });
})
</script>
</html>